{% extends 'pg_account/base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-6">
            <h1 class="my-2 text-center">
                {% if not validlink %}
                    {% trans "Bad Token" %}
                {% else %}
                    {% trans "Change Password" %}
                {% endif %}
            </h1>
            {% if not validlink %}
                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a <a href="{% url 'password_reset_resend' uidb64=uid %}">new password reset</a>.
                </p>
            {% else %}
                {% if form %}
                    <form method="POST" class="needs-validation">
                        <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                        {% csrf_token %}
                        <div id="show-alert">
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">{{ error|escape }}</div>
                            {% endfor %}
                            {% for error in form.new_password1.errors %}
                                <div class="alert alert-danger">{{ error|escape }}</div>
                            {% endfor %}
                            {% for error in form.new_password2.errors %}
                                <div class="alert alert-danger">{{ error|escape }}</div>
                            {% endfor %}
                        </div>
                        <div>
                            <div class="md-form">
                                <input type="password"
                                       required
                                       name="new_password1"
                                       id="{{ form.new_password1.id_for_label }}"
                                       class="form-control">
                                <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                            </div>
                            <div class="md-form">
                                <input type="password"
                                       required
                                       name="new_password2"
                                       id="{{ form.new_password2.id_for_label }}"
                                       class="form-control">
                                <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
                            </div>
                        </div>
                        <input class="btn btn-light-green rounded-pill text-center"
                               type="submit"
                               name="action"
                               value="{% trans 'change password' %}"/>
                    </form>
                {% else %}
                    <p class="text-center">{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
