django~=3.2.4
djangorestframework~=3.12.4
git+https://github.com/daniel-waruo/django-rest-auth.git@master#egg=django-rest-auth
django-allauth~=0.44.0

pillow
django-qsessions

django-rest-knox
pyuploadcare~=2.7.0

python-dotenv~=0.18.0
django-split-settings

gunicorn
django_heroku

django-cors-headers

graphene_django
django-filter

africastalking
requests~=2.25.1

graphene~=2.1.8
six~=1.16.0
