{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <div class="row w-100 justify-content-center">
    <div class="col-12 col-md-6">
      <h1 class="my-2 text-center">
        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

      {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please
          request a
          <a href="{{ password_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
      {% else %}
        {% if form %}
          <form method="POST" class="needs-validation" action="{{ action_url }}" id="change-form">
            {% csrf_token %}
            <div id="show-alert">
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">{{ error|escape }}</div>
              {% endfor %}
            </div>
            <div>
              <div class="md-form">
                <input type="password" required name="password1" id="{{ form.password1.id_for_label }}"
                       class="form-control">
                <label for="{{ form.password1.id_for_label }}">New Password</label>
              </div>
              <div class="md-form">
                <input type="password" required name="password2" id="{{ form.password2.id_for_label }}"
                       class="form-control">
                <label for="{{ form.password2.id_for_label }}">Confirm New Password</label>
              </div>
            </div>
            <input class="btn btn-light-green rounded-pill text-center" type="submit" name="action"
                   value="{% trans 'change password' %}"/>
          </form>
        {% else %}
          <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
{% autoescape off %}
  {% block js %}
    <script type="text/javascript">
      // get confirmation button
      let changeForm = document.getElementById("change-form");
      let showAlert = document.getElementById("show-alert");

      function confirmSuccess(data) {
        // create an alert element
        let successAlert = document.createElement("div");
        // create a class attribute
        let successClass = document.createAttribute("class");
        // set class value
        successClass.value = "alert alert-success text-center animated bounce";
        // create role attribute and set value
        let role = document.createAttribute("role");
        role.value = "alert";

        // set attributes to alert node
        successAlert.setAttributeNode(role);
        successAlert.setAttributeNode(successClass);
        // set the alert message
        successAlert.innerHTML = "Successfully Changed Password";
        // clear the show alert div and render our alert to the dom
        showAlert.innerHTML = "";
        showAlert.appendChild(successAlert);
        window.location = data.location
      }

      function confirmFailure(data) {

        // create an alert node
        let errorAlert = document.createElement("div");
        // create a class attribute and set its value
        let errorClass = document.createAttribute("class");
        errorClass.value = "alert alert-danger text-center animated bounce";
        // create a role attribute and set its value
        let role = document.createAttribute("role");
        role.value = "alert";

        // set atributes to alert node
        errorAlert.setAttributeNode(role);
        errorAlert.setAttributeNode(errorClass);
        // set the alert message
        errorAlert.innerHTML = data.detail;
        // clear the contents of the showAlert div
        showAlert.innerHTML = "";
        // render alert to the dom using appendChild
        showAlert.appendChild(errorAlert);
      }

      //set an event listener to submit
      $(changeForm).submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.
        let form = $(this);

        let url = form.attr('action');
        // get password 1 and password 2 and check if they match before sending a request
        let data = form.serializeArray();// serializes the form's elements.
        let password1 = data[1].value;
        let password2 = data[2].value;

        // if passwords don't match show an error
        if (password1 !== password2) {
          console.log(form);
          confirmFailure({detail: "Passwords do not match"})
        }

        else {
          $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: confirmSuccess,
            error: confirmFailure
          });
        }
      });
    </script>
  {% endblock %}
{% endautoescape %}