{% extends 'base_email.html' %}
{% load account %}
{% user_display user as user_display %}
{% load i18n %}

{% block head_title %}Confirm your email address{% endblock %}

{% block content %}
    <!--TODO: Add relevant domain name -->
    <h3 class="title">{% block title %}Hello from Product Giving {% endblock %}</h3>
    <p class="content">
        You're receiving this e-mail because you have given your e-mail address to join Product Giving.
        Click the link below to confirm your account
    </p>
    <p>
        <a href="{{ activate_url }}">{{ activate_url }}</a>
    </p>
    <p>Thank you from Product Giving</p>
{% endblock %}
