{% extends 'base_email.html' %}
{% load account %}
{% user_display user as user_display %}
{% load i18n %}

{% block head_title %}Confirm your email address{% endblock %}

{% block content %}
  <div>
    <!--TODO: Add relevant domain name -->
    <h3 class="title">{% block title %}Hello from Chaguo{% endblock %}</h3>
    <p class="content">
      You're receiving this e-mail because you have given your e-mail address to connect to voting.com.
      If this is not you don't click on the confirmation button.
    </p>
    <div>
      <a class="button" href="{{ activate_url }}">
        CLICK HERE TO CONFIRM YOUR EMAIL
      </a>
    </div>
    <p>Thank you from voting.com</p>
    <br/>
  </div>
{% endblock %}