{% extends 'base_email.html' %}
{% load i18n %}
{% block head_title %}Reset Your Password{% endblock %}

{% block css %}
  <style rel="stylesheet">
    .button-container {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  </style>
{% endblock %}

{% block content %}
  {% autoescape off %}
    <h3 class="title">Reset your email</h3>
    <div class="content">
      <div>
        {% blocktrans %}
          You're receiving this  email because you requested a password reset for your E-donation account
          <br/>
          <p style="text-align: center">
            Click the button below to choose a new password
          </p>
        {% endblocktrans %}
        <div class="button-container" style="text-align: center">
          <a class="button"
             href="{{ password_reset_url }}">
            RESET PASSWORD
          </a>
        </div>
        <p style="text-align: center">
          <br/>
          Thanks for using our site!
        </p>
      </div>
    </div>
    {% blocktrans %}The E-donation team{% endblocktrans %}
  {% endautoescape %}
{% endblock %}

